*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
header{
    background: rgba(229, 84, 115, 0.10);
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
   
}
.banner_text h1{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container .banner_text *{
    margin-bottom: 32px;
    max-width:531px;;
}
p{
width: 475px;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 15px;
}
.banner_text button{
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
}
.banner{
 display: flex;
justify-content: center;
align-items: center;
    
}
.container .banner-image img{
    width: 100%;
    vertical-align: middle;
}